---
layout: default
title: Our Team
---
<h1>Staff</h1>
<section class="container" id="teams">
	{% for team in site.teams %}
	<article>
		<h2>{{ team.name }}</h2>
		<p>{{ team.content | markdownify }}</p>
		<h3>Team Members</h3>
		<section class="card-container">
			{% assign role_members = site.staff | where_exp: "member", "member.roles contains team.slug" %}
			{% for member in role_members %}
			<article class="card">
				{{ member.output }}
			</article>
			{% endfor %}
		</section>
	</article>
	{% endfor %}
</section>