<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>{{ page.title }} - {{ site.title }}</title>
		<link rel="stylesheet" href="{{ "/assets/css/style2.css" | relative_url }}">
		<script src="https://kit.fontawesome.com/3a70820ca4.js" crossorigin="anonymous"></script>
		<script src="{{ "assets/js/particles.min.js" | relative_url }}"></script>
		<script src="{{ "assets/js/app.js" | relative_url }}"></script>
		{% seo %}
	</head>

	<body>
		{{ content }}
	</body>
</html>
