<div class="glorified-team-box">
	<div class="glorified-box-top">
		<div class="glorified-team-avatar">
			{% if page.avatar %}
				<img src="{{ page.avatar }}" alt="{{ page.name }}'s Avatar">
			{% else %}
				<img src="{{ "assets/img/unknown.png" | relative_url }}" alt="{{ page.name }}'s Avatar, which is currently unknown.">
			{% endif %}
		</div>
		<div class="glorified-team-details">
			<div class="member-title">
				<div class="member-name">{{ page.name }}</div>
				{% if page.role %}
					<div class="member-role">{{ page.role }}</div>
				{% endif %}
			</div>
			<div class="member-desc">
				{{ page.content | markdownify }}
			</div>
		</div>
	</div>
	{% if page.links and page.links.size > 0 %}
	<div class="member-social">
		{% if page.links.steam %}<a href="{{ page.links.steam }}" class="steam-link"><i class="fab fa-steam-symbol"></i></a>{% endif %}
		{% if page.links.github %}<a href="{{ page.links.github }}" class="git-link"><i class="fab fa-github"></i></a>{% endif %}
		{% if page.links.youtube %}<a href="{{ page.links.youtube }}" class="youtube-link"><i class="fab fa-youtube"></i></a>{% endif %}
		{% if page.links.twitch %}<a href="{{ page.links.twitch }}" class="twitch-link"><i class="fab fa-twitch"></i></a>{% endif %}
		{% if page.links.discord %}<a href="{{ page.links.discord }}" class="discord-link"><i class="fab fa-discord"></i></a>{% endif %}
	</div>
	{% endif %}
</div>